<!DOCTYPE html>
<html>
<head>
	<title>FREEDOM-A Place To Work With Freedom</title>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<link rel="stylesheet" type="text/css" href="webpage.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/glyphicon.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700i" rel="stylesheet">
</head>
<body>
  <!-- Navigation-bar -->
	<section id="nav-bar">
		

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#" style="color:#fff;">FREEDOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services1">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="contact.html">CONTACT US</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-success">LOGIN/SIGNUP</button>
      </li>
    </ul>
  </div>
</nav>
	</section>
<!-------------------------------body-------------------------->
<section id="showcase">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <br><br>
        <div class="showcase-left">
          <img src="images/webres.png "class="img-responsive img-fluid rounded"style="width:auto;height: 400px;">  
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <br><br>
        <div class="showcase-right">
          <h1 class="text-center"style="color:  #7b1798">Web-design</h1>
          <p><i>Today Website is need for every company of any sector and web is growing very fast so its technology and working 
mythology is also changing at very speed. Latest Designing and development techniques in website making its scope
 wider and the content are also increasing day by day.

 Now you can choose your customized content you want to choose or can do web design with specialization mode 
in different sectors. Web Design and development  is divided in three sector.
<ol style="margin-left: 29px;">
<li> Web Designing</li> 
<li> Web Development(Front-end,Back-end)</li>
<li> Web Marketing </li>
</ol>
These all comes under WEB containing different contents with different purposes.
Below there are list and small description of all the contents covered under these topics one by one.</i>

</p>
          
        </div>
      </div>
      
    </div>
    
  </div>
  
</section>
<section id="testimonial">
  <div class="container-fluid" style="background-color: #e2c7e1; border-radius: 20px; padding: 50px 0 30px 0; text-align: center; margin-top: 40px;">
         <h1 class="text-center"style="color:  #7b1798"> Web Designing </h1>
          <br>
          <p><i>Designing your web, how is the look and feel of websites, designing different themes with different layouts, 
Designing Banners, Designing Advertisements, Working on buttons or In all working on web designs covers in this topic 
with two specialization software.
<ol>
<li> <b>Adobe Illustrator :</b> 
Adobe Illustrator software works on shapes and Illustrations, All web is contains different shapes and 
it is the fastest software to design any kind of web layout in a very creative manner. 
Its different tools helps designer to design all kinds of vectors in seconds.</li>

<li><b> Adobe Photoshop :</b>
Raster software for making banners, collages, creating backgrounds, Image cutting, Image manipulation, 
generating special effects are all done with the help of this very advance software.</li>
</ol>

</i>

</p>
          
        </div>
      </div>
       </div>
    
  </div>
  
</section>

  
</section>
<section id="design">
  <div class="container-fluid" >
    <div class="row"style="margin-left: 16px;">
      <div class="col-md-6 col-sm-6">
        <br><br>
        <div class="design-left">
          <h1 class="text-center"style="color:  #7b1798"> Web Designing </h1>
          <br>
          <h3>&nbspFront-end(UI/UX)</h3>
<ol>
  <li><p><i><b>HTML code : </b>
Basic code for developing any kind of website. Its latest version HTML 5 is with all new tags and 
attributes and much advance. Works on Audio, Video, Geo-locations, SVG’s, Canvas, Animations, 
creates everything with codes. It is fast and easy to learn if learned in any professional Institute.</i></p></li>

<li><p><i><b>CSS code :</b> 
Cascading style sheet advance course with its all tips and tricks make it more advance. 
Learning its latest version CSS3 is fun. Creates styles for every tag and elements to make it look differently. 
Best codes to make look and working of your website different.</i></p></li>
<li><p><i><b>Java script with J-query :</b> 
Giving interactive effects, Mouse effects, creating spry, menus, Tabs structure, Sliders, photo gallery or 
can say all types of effects and animation you see in website are creating with these advance codes of Java script and 
J-query.



</i>

</p></li>
    </ol>
    <h3>Back-end</h3>
<ol>
  <li>
    <p><i><b>PHP code : </b>
       Server side language works on managing your database, Creating database, Inserting, updating and deleting records.
       Once you understand all the queries and codes of this language you become expert in handling any complex database,
       tables and fields. Scope and demand in industry is increasing day by day. Developing social media websites, 
       Product galleries or shopping cart is all done by PHP.

    </i></p>
</li>

<li>
  <p><i><b> WordPress, Joomla, Drupal :</b> 
     All three are Content management software and anybody can covers it in 20 hours of time. Helps to manage database and 
     PHP codes in easy manner. Works more advance and is also demanded by the companies. In these PHP code becomes easy and 
     one can work fast on database. Managing themes, users, settings all is done with a click of mouse. Millions of plugins
     make these software more option able.
  </i></p>
</li>
</ol>
      
       
      
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <br><br><br><br><br><br><br><br><br><br>
        <div class="design-right">
          <img src="images/fr1-back.jpg"class="img-responsive img-fluid rounded"style="width:auto;height: 400px;">  
        </div>
      </div>
     
       
    </div>
    
  </div>
  
</section>
<section id="webpage">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <br><br>
        <div class="webpage-left">
          <hr>
          <img src="images/webmanag.jpg "class="img-responsive img-fluid rounded"style="width:auto;height: 400px;">  
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <br><br>
        <div class="webpage-right">
          <h1 class="text-center"style="color:  #7b1798">Web Marketing </h1>
          
<ol style="margin-left: 29px;">
  <li><i><b>SEO or SMO :</b>
Marketing your website on net that every search engine shows your website on different keywords. You design your website,
 develop your website, online your website but the website will be visited and you will only gain business if you will 
market it. Different Search engine optimization techniques to market your website is must for every company by which 
they will get business.</i></li>
<br>
<p>Social media optimization of websites in different social Medias to market your website and to gain more public interest.
 More people will know about the website and search engine friendly website will gain more business in today’s world of 
Internet.

These are some basic topics explained above in web design and development course. There are more advance topics like: 
Responsive websites, Bootstrap, Magento, Open source, Dreamweaver CC, Adobe Muse, Adobe Edge animation, Ajax etc.</p>
</ol>


          
        </div>
      </div>
      
    </div>
    
  </div>
  


<!-- footer start-->
<footer class="footer text-center text-light  container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 line">
        <br><br>
        <h2>Contact Us</h2>
        <br><br>
        <p class="h7"><i class="fa fa-phone"></i>&nbsp&nbsp+91-9606132131</p>
        <p class="h7"><i class="fa fa-phone"></i>&nbsp&nbsp+91-8296329113</p>

      </div>

       <div class="col-md-4">
        <br><br>
       <h2>Address</h2>
       <br><br>
       <p><i class="fa fa-map-marker"aria-hidden="true"></i>&nbspSchool of Engineering and Technology-(SET JU)</p>
       <p>45th km NH - 209 Jakkasandra Post, Kanakapura Rd, Bengaluru, Karnataka 562112</p>
      </div>

       <div class="col-md-4">
        <br><br>
        <h2>Follow Us</h2>
        <br><br>
          <h7><i class="fa fa-twitter"></i>&nbsp&nbsp&nbspTwitter</h7><br>
        <h7>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i class="fa fa-facebook"></i>&nbsp&nbsp&nbsp&nbsp&nbspFacebook</h7><br>
        <h7>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i class="fa fa-instagram"></i>&nbsp&nbsp&nbsp&nbspInstagram</h7>
        <br><br>
      
         
      </div>

    </div>
    
  </div>
  
</footer>
<section class=" cp text-center">
  <span>&copy All Right Reserved 2019</span>
</section>
<!-- java script -->
<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
  window.sr = ScrollReveal();
  sr.reveal('.navbar',{
    duration: 2000,
    origin:'bottom'
  });
  sr.reveal('.showcase-left',{
    duration: 2000,
    origin:'top',
    distance:'300px'
  });
  sr.reveal('.showcase-right',{
    duration: 2000,
    origin:'right',
    distance:'300px'
  });
  sr.reveal('#testimonial div',{
    duration: 2000,
    origin:'bottom'
    });
   sr.reveal('.design-left',{
     duration: 2000,
     origin:'left',
     distance:'300px',
     viewFactor:0.2
   });
   sr.reveal('.design-right',{
     duration: 2000,
     origin:'right',
     distance:'300px',
     viewFactor:0.2
      });
  sr.reveal('.webpage-left',{
     duration: 2000,
     origin:'left',
     distance:'300px',
     viewFactor:0.2
   });
   sr.reveal('.webpage-right',{
     duration: 2000,
     origin:'right',
     distance:'300px',
     viewFactor:0.2
  });
   sr.reveal('.footer',{
    duration: 4000,
    origin:'bottom'
  });
   sr.reveal('.cp',{
    duration: 2000,
    origin:'bottom'
  });
   
</script>
 <script >
  $(function(){
    // smooth scrolling
    $('a[href*="#"]:not([href="#"])').click(function(){
      if(location.pathname.replace(/^\//,'')== this.pathname.replace(/^\//,'')&& location.hostname== this.hostname){
        var target =$(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length){
          $('html,body').animate({
            scrollTop: target.offset().top
            },1000);
          return false;
        }
      }
    });
  });
        
</script>
 
</body>
</html>